/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
  --red: #e90000;
	--text-color: #333;
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
    --text-color: #333;
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: #f5f5f5;
}
html {
	overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

/* a[href] {
	color: white;
} */

a.post-tag[href] {
  color: tomato;
}

a[href]:visited {
	color: salmon;
}

a[href]:hover,
a[href]:active {
	color: #000000;
  text-decoration: underline;
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
  display: flex;
  margin: 0 auto;
  max-width: 92%;
  justify-content: space-between;
	border-top: 1px dashed var(--color-gray-20);
	padding: 2em 0;
}
.links-nextprev a {
  font-size: 10pt;
  text-decoration: none;
}
.links-nextprev a:hover {
  text-decoration: underline;
}
.links-nextprev .post-arrow {
  font-size: 2em;
  color: #dedbdb;
  background-color: black;
  /* padding: 3px 3px; */
  width: 48px;
  height: 27px;
  line-height: 27px;
  border-radius: 10px;
  text-align: center;
  font-weight: 900;
}
.arrow-wrapper {
  display:flex;
  align-items: center;
}
.arrow-wrapper > * {
  margin: 0 3px;
}
.t-a-r {
  text-align: right;
}
/* table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
} */

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	/* text-decoration: underline; */
}


.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* blog post tags */
.post-tag {
  margin: -2px 5px;
  font-size: 8.5pt;
  text-transform: uppercase;
	background-color: white;
  border: 1px solid var(--red);
  border-radius: 5px;
  padding: 5px 7px 3px 7px;
  color: var(--red);
  text-decoration: none;
}

a.post-tag:visited {
  color: tomato;
}
a.post-tag:hover {
  color: black;
}

.post-tags {
  display: flex;
  justify-content: center;
}

/* tags-list tagslist */
.post-tagslist {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	/* text-decoration: underline; */
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

.postlist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: baseline;
  margin: 2em auto 0;
}

.postlist-item {
  margin: 4px;
  display: flex;
  width: 420px;
  min-height: 300px;
  position: relative;
  flex-wrap: wrap;
  padding: 0 3px;
}
.postlist-item span.tag {
  position: absolute;
  top: 277px;
  color: #fff;
  padding: 1px 8px;
  background: var(--red);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-family: Folio, Arial Narrow, sans-serif;
  letter-spacing: 1px;
}
.postlist-item h3 {
  font-family: Arial Narrow, sans-serif;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.postlist-item img {
  object-fit: cover;
  width: 420px;
  height: 300px;
}
.post-title {
  font-size: min(max(28px, calc(1.75rem + ((1vw - 4.8px) * 3.2143))), 64px);
  min-height: 0vw;
  padding: 20px 0px 0 0px;
  line-height: 1.2em;
  letter-spacing: 0.002em;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero {
  text-align: center;
  padding: 4em 0 1em 0;
}
.thumbnail {
  max-width: 100%;
  height: auto;
}
.the-post {
  padding: 1em;
}
.post-header {
  padding: 2em 0;
}
.post-header p {
  font-size: 10pt;
}
.tc {
  text-align: center;
}
.entry-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em 0 0;
  padding-top: 1em;
  text-align: left;
}
.post-content {
  padding: 2em;
  max-width: 1080px;
  margin: 0 auto;
}
.tagslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0 4em 0;
}
.tagslist a {
  margin: 4px;
  font-size: 9.5pt;
  padding-top: 7px;
}
h4.postlist-title {
  /* padding-top: 7px; */
  font-size: 18pt;
  margin: 8px 0 30px 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.page-name {
  font-size: 32pt;
  padding: 1.7em 0 0.7em 0;
}

/* image gallery3 */
.gallery3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-gap: 2em;
  /* padding: 2em; */
  pointer-events: none;
}

.gallery3 img {
  display: block;
  width: 100%;
  border-radius: 0.25em;
  transition: 250ms 50ms;
  pointer-events: auto;
  filter: saturate(0.2) opacity(0.7);
}

.gallery3 img:hover {
  filter: saturate(1) opacity(1);
  border: 3px solid black;
  cursor: pointer;
}

.alltags-link {
  padding: 2.5em 0 5em 0;
}