---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="hero-image hero-home">
  <div class='hero-text'>
    <h1 style="font-size:32pt;">PHOTOGRAPHY</h1>
    <h4 style="font-size:20pt;">BY SIMON LEE</h4>
  </div>
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}