---
permalink: /tags/
layout: layouts/home.njk
---
<h1 class='tc page-name'>Tags</h1>

<div class='tagslist'>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</div>
