<div class='entry-content'>
  <div class="postlist">
  {% for post in postslist %}
    <div class="postlist-item">
      <a href="{{ post.url }}"><img class="thumbnail" src="{{post.data.thumbnail}}" alt="test" /></a>
      <span class='tag'>{{post.data.category}}</span>
      <h4 class='postlist-title'>{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.url }}{% endif %}</h4>
    </div>
  {% endfor %}
  </div>
</div>