---
layout: layouts/base.njk
---

<div class='post-header'>
  <h1 class='post-title tc'>{{ title }}</h1>
  
  <p class='tc'>posted: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
  <p class='tc'>📷 {{camera}}</p>

  <div class='tc'>
    {%- for tag in tags | filterTagList %}
      {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
      {%- if not loop.last %} {% endif %}
    {%- endfor %}
  </div>
</div>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
